<div id="main" class="palm-hasheader">
	<div class="palm-header">Task</div>
	
	<div class="palm-group">
	
		<div class="palm-group-title" x-mojo-loc=''>Name</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="TaskName" name="TaskName" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="palm-group">
	
		<div class="palm-group-title" x-mojo-loc=''>Time</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="TaskDue" name="TaskDue" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div id="DeleteTask" x-mojo-element="Button"></div>

</div>