/* -------------------- Basic task formatting ------------- */

#TaskList .task {
	background: url(../images/list-separator-light.png) repeat-x 0% 100%;
}

#TaskList .task-due {
	color: #1f75bf;
	font-size: 14px;
	vertical-align: middle;
	padding: 6px 12px 7px 6px;
	text-align: left;
	float: right;
}

#TaskList .task-name {
	font-size: 15px;
	vertical-align: middle;
	padding: 6px 6px 7px 12px;
}

#TaskList .task-name .has-rrule-true {
	vertical-align: baseline;
}

#TaskList .task-name .has-rrule-false {
	display: none;
}

/* ----------------- Due and overdue tasks -------------- */

#TaskList .due-false .task-name {
	color: #666;
}

#TaskList .overdue-true .task-due {
	color: #c00;
}

/* ---------------- When a task is tapped ------------- */

#TaskList .task.selected {
	background-image: url(../images/selection-gradient-default.png);
}

#TaskList .task.selected .task-name,
#TaskList .task.selected .task-due {
	color: #fff;
}

/* --------- Network activity indicator (initial settings) -------- */

#NetworkIndicator {
	background-image: none;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
	margin-top: 12px;
}

/* ----------------- Task list header ----------------- */

#NetworkIndicator {
	float: right;
}

#TaskListHeader {
	text-align: center;
}