/* Put Application specific CSS here. */

#TaskList .title {
	font-size: 15px;
	padding-top: 6px;
	padding-bottom: 7px;
}

#TaskList .due-false .title {
	color: #666;
}

#TaskList .label {
	text-transform: none;
}

#TaskList .overdue-true .label {
	color: #c00;
}
