/* Put Application specific CSS here. */

#TaskList .task {
	background: url(../images/list-separator-light.png) repeat-x 0% 100%;
	background-image: url(../images/list-separator-light.png);
}

#TaskList .task-title {
	font-size: 15px;
	vertical-align: middle;
	padding-top: 6px;
	padding-bottom: 7px;
}

#TaskList .due-false .task-title {
	color: #666;
}

#tasklist-container {
	display: table;
}

#TaskList .task-label {
	font-size: 15px;
	vertical-align: middle;
	margin: 0px 12px 0px 6px;
	text-transform: none;
}

#TaskList .overdue-true .task-label {
	color: #c00;
}

